.container{
    max-width: 1200px;
}
.nav__wrapper{
    display: flex;
    justify-content: space-around;
}
.nav__menus{
    display: flex;
    gap: 20px;
    align-items: center;

}
.nav__right-wrapper{
    display: flex;
    align-items: center;
    gap: 50px;
}